/* Jamaican-rice and peas styles.css */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

.heading{
    background-color: rgb(242, 231, 115);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:green;
    margin: 20px;
    box-sizing: border-box;
    padding: 0 200px 0 200px;
    
}

.img-1{
    display:block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width:max-content;
    max-width: 600px;
    box-sizing: border-box;
  
 





} 

.paragraph-1{
    text-align: center;
    font-size: 20px;
    
}

.heading-2{
    color: green;
    font-size: 32px;
    text-align: center;
 }

 .adjust-alignment{
    text-align: left;
    margin-left:50px;
 }
    


.paragraph-2{
    color: green;
    text-align:left;
    margin-left:30px;
}

.emphasis{
    color:grey

}

.div {
   background-color: yellow;
}